# MacOS file
.DS_Store

# Node modules
node_modules


# Sveltekit temp folder
/.svelte-kit
/package

# Configurations
.env
.env.*
!.env.example


# Build artifacts
*.zip
/build

# Test DB sqlite3
test.db